<section id="about">
    <div>
        <h2 class="weight-bold text-step-4">I'm a Front-End Developer & Designer from Amsterdam.</h2>            
        {# <p class="text-step-0 font-sans">I get really enthusiastic about HTML & CSS. I’m very passionate about accessibility on the web, firmly believing that everyone should be able to have a good user experience. I like being creative and making weird things.</p> #}
        {# <p class="text-step-0 font-sans">I am also a passionate collector of random trinkets, a vinyl record enthusiast and a movie nerd. Oh, and I visit all sorts of places to see live music quite often.</p> #}

        <img src="../assets/images/ik_2.jpg" alt="">

        <div>
            <h3>The Web</h3>
            <p>I get very enthusiastic about HTML & CSS. With these tools, I strive to make accessible websites, firmly believing that everyone should be able to have a decent user experience.</p>
        </div>

        <div>
            <h3>Education</h3>
            <p>In July 2025, I graduated cum laude with a Bachelor of Science degree in Communication & Multimedia Design. I learned about Web Development, Visual Interface Design and UX Design.</p>
        </div>

        <div class="stack-m">
            <div>
                <h3>Experience</h3>
                <p>During my studies, I did two Front-End Development internships.</p>                
            </div>


            <ul class="stack-m" role="list">
                <li class="stack-xs">
                    <div class="cluster" style="--cluster-justification: space-between">                    
                        <h4 class="text-step-0"><a class="link" href="https://www.yard.nl/" target="_blank">Yard</a></h4>
                        <p class="text-step--1">April 2022 - July 2022</p>
                    </div>
                    <p>At Yard I got to join on multiple projects that were all government- or health care related. I worked with Wordpress, Laravel Blade, PHP, Sass and Javascript.</p>
                </li>

                <li class="stack-xs">
                    <div class="cluster" style="--cluster-justification: space-between">                    
                        <h4 class="text-step-0"><a class="link" href="https://9elements.com/">9elements</a></h4>
                        <p class="text-step--1">Sep.2024 - Feb. 2025</p>
                    </div>
                    <p>At 9elements there was a great variety of projects. I worked on the Front-End part of a Ruby on Rails project for a German health care organisation. Most sites were made with Eleventy, Nunjucks, CSS & JS.</p>
                </li>
            </ul>
        </div>

        <div>
            <h3>Useless facts</h3>
            <p>I am also a vinyl record enthusiast, a passionate collector of second-hand trinkets, a common concert visitor and a movie nerd.</p>
        </div>

    </div>
</section>