<section id="home" class="hero-section">
    <div class="noise"></div>
    <div class="stars"></div>
    <div class="hero-section__content">
        <h1 class="text-step-6">Eva Boogaard</h1>
        <p class="text-step-0 tag">Front-End Developer & Designer</p>
    </div>
    <div class="noise"></div>
</section>