---
title: "2001"
layout: "layouts/base.njk"
permalink: /2001.html
---


<section class="project-detail | page-layout stack-m pt-2xl">
    <h1 class="project-detail__title | text-step-4">2001</h1>
    <p class="project-detail__title">2023</p>
    <img class="project-detail__image" src="../assets/images/projects/2001.jpeg" alt="" style="--vt: prj-2001">

    <div class="project-detail__info | stack-l py-l">
        <div class="project-detail__info-grid">
            <div class="stack-m">
                <p>I created a website about the iconic Stanley Kubrick masterpiece - 2001: A Space Odyssey. I wanted the site to convey the wonder, stunning visuals and insanely progressive concepts of the film.</p>
                <p>For this project, I wanted to tinker with three.js and GSAP for a bit, as I had never used either of those things before. It was a fun small project with some interesting aspects in it, I think.</p>
            </div>

            <p class="role"><span class="text-step-1">Role:</span> <span>Concept</span> <span>Design</span> <span>Front-End Development</span></p>
        </div>

        <div class="cluster py-l" style="--cluster-gap: var(--space-m);">
            <a class="button button--secondary" target="_blank" href="https://github.com/evaboogaard/2001">Github Repo</a>
            <a class="button button--primary" target="_blank" href="https://2001-a-space-odyssey.vercel.app/">Final Result</a>
        </div>
    </div>

    <div class="project-detail__process page-layout">
        <h2 class="text-step-3">Process</h2>

        <div class="slider | py-m my-xl">
            <ul class="slider__stage" role="list">
                <li class="slider__item">
                    <p>First moodboard for the project. Other contenders for a theme were Midsommar and Game of Thrones.</p>
                    <img src="../assets/images/2001/moodboard.jpeg" alt="">
                </li>
                <li class="slider__item">
                    <p>I chose the typography for the webpage based on the fonts that are shown in the film - Futura and Gill Sans.</p>
                    <img src="../assets/images/2001/typography.jpeg" alt="">
                </li>
                <li class="slider__item">
                    <p>A three.js test, loading an external GLTF model into the page. This was a bit of a struggle, but worked in the end.</p>
                    <img src="../assets/images/2001/threejs.jpeg" alt="">
                </li>
                <li class="slider__item">
                    <p>The first sketch for the final product.</p>
                    <img src="../assets/images/2001/sketch.jpeg" alt="">
                </li>
                <li class="slider__item">
                    <p>The final concept before starting to build. I wanted it to start with the iconic monolith shot from the movie, with a parallax effect using ScrollTrigger.</p>
                    <img src="../assets/images/2001/final_idea_1.jpeg" alt="">
                </li>
                <li class="slider__item">
                    <p>There was supposed to be a part about evolution, but this was skipped in the end because I ran out of time.</p>
                    <img src="../assets/images/2001/final_idea_2.jpeg" alt="">
                </li>
                <li class="slider__item">
                    <p>I wanted to do a piece on the 'video calling' in this movie, and experimented a bit with AI for this.</p>
                    <img src="../assets/images/2001/final_idea_3.jpeg" alt="">
                </li>
                <li class="slider__item">
                    <p>I had a vision for a scroll-hijacking thing where you'd move on the Z-axis on the screen instead of the regular vertical scrolling. In the end, I didn't have the right coaching or tools to really make it work, but the idea is still clear enough.</p>
                    <img src="../assets/images/2001/final_idea_4.jpeg" alt="">
                </li>
                <li class="slider__item">
                    <p>The idea of this final part was that HAL - who is an AI robot gone evil in the movie - doesn't let itself get turned off by the user, and then does a little monologue.</p>
                    <img src="../assets/images/2001/final_idea_5.jpeg" alt="">
                </li>
            </ul>
        </div>

    </div>
</section>