---
title: "Graduation Project"
layout: "layouts/base.njk"
permalink: /graduation-project.html
---


<section class="project-detail | page-layout stack-m pt-2xl">
    <h1 class="project-detail__title | text-step-4">Graduation Project</h1>
    <p class="project-detail__title">2025</p>
    <img class="project-detail__image" src="../assets/images/projects/graduation-project.png" alt="" style="--vt: graduation-project">

    <div class="project-detail__info | stack-l py-l">
        <div class="project-detail__info-grid">
            <div class="stack-m">
                <p>As the final project of my Bachelor in Communication & Multimedia Design I created a fluid typography design tool in the browser.</p>
                <p>Static design tools don’t offer what HTML & CSS can offer - it’s actually not even close. It always made more sense to me to sketch a design out on paper and then jumping straight into CSS. One problem: we can’t expect designers to learn how to write code, or developers to suddenly be good at design. That’s where my idea grew to create a way to design fluid typography using clamp(), without having to know anything about code.</p>         
            </div>

            <p class="role"><span class="text-step-1">Role:</span> <span>Concept</span> <span>Design</span> <span>Front-End Development</span></p>
        </div>

        <div class="cluster py-l" style="--cluster-gap: var(--space-m);">
            <a class="button button--secondary" target="_blank" href="https://github.com/evaboogaard/graduation-project">Github Repo</a>
            <a class="button button--primary" target="_blank" href="https://graduation-project-one-gamma.vercel.app">Final Result</a>
        </div>
    </div>

    <div class="project-detail__process page-layout">
        <div class="stack-m">
            <h2 class="text-step-3">Process</h2>
            <p>I started off this project by reading lots of articles, i.e. <a href="https://alistapart.com/article/dao/" target="_blank">A Dao of Web Design</a> and <a href="https://alistapart.com/article/responsive-web-design/" target="_blank">Responsive Web Design</a>. These manifesto-like documents inspired me to take a more idealistic approach.</p>
            <p>After analysing different articles and websites, conducting some interviews & expert interviews, benchmarking and doing target audience research, I created a requirement list:</p>
            <ul class="stack-s list">
                <li class="product">The product needs a standard text layout that the user can customize.</li>
                <li class="product">The product must offer options for different fonts for body text and headlines.</li>
                <li class="product">The product must offer Google Font options for choosing different fonts.</li>
                <li class="product">The product must include a control panel that allows the user to adjust type scale, line height, font size, and content width.</li>
                <li class="product">The product must make interactive elements such as buttons and links customizable, including focus, active, and hover states.</li>
                <li class="user">As a user, I want to be able to play with responsiveness without having to code.</li>
                <li class="user">As a user, I want to be able to play with typographic values and see a live preview when I change something.</li>
                <li class="user">As a user, I want to be able to test the typography on my phone and other devices.</li>
                <li class="user">As a user, I want to be able to export my entered values.</li>
            </ul>
            <p>With these requirements in mind, I started thinking up some concepts.</p>
        </div>

        <div class="slider | py-m my-xl">
            <ul class="slider__stage" role="list">
                <li class="slider__item">
                    <p>Concept 1: The Basics</p>
                    <img src="../assets/images/graduation-project/concepts/basics.png" alt="">
                </li>
                <li class="slider__item">
                    <p>Concept 2: F*gma-vibes</p>
                    <img src="../assets/images/graduation-project/concepts/figma.png" alt="">
                </li>
                <li class="slider__item">
                    <p>Concept 3: NUI</p>
                    <img src="../assets/images/graduation-project/concepts/nui-1.png" alt="">
                </li>
                <li class="slider__item">
                    <p>Concept 4: Build Your Own Design System</p>
                    <img src="../assets/images/graduation-project/concepts/design-system.png" alt="">
                </li>
            </ul>
        </div>

        <div class="stack-m">
            <p>After choosing a combination of concept 2 & 4, I started prototyping. After each prototype, I did at least two User Tests to gain feedback and insight in what could be improved. If you'd like to check out my final document (written in Dutch) containing a summary of all versions of the final product, you can do that here:</p>
            <a class="button button--primary" href="../assets/files/graduation-project.pdf" download>Download PDF</a>            
        </div>
    </div>
</section>