---
title: "Eva Boogaard"
layout: "layouts/base.njk"
permalink: /
---

<div class="page-layout">
  {% include "partials/blocks/home-section.njk" %} 
  {% include "partials/blocks/work-section.njk" %} 
  {% include "partials/blocks/about-section.njk" %} 
</div>