---
title: "Oce-Aan-En-Uit"
layout: "layouts/base.njk"
permalink: /oce-aan-en-uit.html
---


<section class="project-detail | page-layout stack-m pt-2xl">
    <h1 class="project-detail__title | text-step-4">Oce-Aan-En-Uit</h1>
    <p class="project-detail__title">2024</p>
    <img class="project-detail__image" src="../assets/images/projects/oce-aan-en-uit.jpeg" alt="" style="--vt: oce-aan-en-uit">

    <div class="project-detail__info | stack-l py-l">
        <div class="project-detail__info-grid">
            <div class="stack-m">
                <p>Have you ever wondered what it would look like if you tried to create a scrollable ocean with just HTML & CSS? This would be your lucky moment, because I figured that out. You can even change the weather circumstances, and the little fish will change their attire based on that.</p>
                <p>This project was part of the awesome ‘CSS To The Rescue’ course, created by Sanne ‘t Hooft. The assignment was very simple: build whatever the hell you want, with just a few constraints. The constraints: only HTML & CSS are allowed; there has to be some sort of ‘control panel’ in there; use some ‘fresh from the press’ modern CSS.</p>
                <p>Because of projects like this, I now know a lot more about the possibilities of HTML & CSS. For example, I played around with: container queries, scroll-driven animations, svg animations, @property, the :has() selector.</p>
            </div>

            <p class="role"><span class="text-step-1">Role:</span> <span>Design</span> <span>Front-End Development</span></p>
        </div>

        <div class="cluster py-l" style="--cluster-gap: var(--space-m);">
            <a class="button button--secondary" target="_blank" href="https://github.com/evaboogaard/oce-aan-en-uit">Github Repo</a>
            <a class="button button--primary" target="_blank" href="https://evaboogaard.github.io/oce-aan-en-uit/">Final Result</a>
        </div>
    </div>

    <div class="project-detail__process page-layout">
        <h2 class="text-step-3">Process</h2>
        <p>Starting off, I created some sketches and documented my progress throughout the project.</p>

        <div class="slider | py-m my-xl">
            <ul class="slider__stage" role="list">
                <li class="slider__item">
                    <p>First concept sketch, moved into CSS right away after this.</p>
                    <img src="../assets/images/oce-aan-en-uit/sketch_1.jpg" alt="">
                </li>
                <li class="slider__item">
                    <p>First draft of the control panel & the boat.</p>
                    <img src="../assets/images/oce-aan-en-uit/boat_1.png" alt="">
                </li>
                <li class="slider__item">
                    <p>Working on the different weather states.</p>
                    <img src="../assets/images/oce-aan-en-uit/states_1.png" alt="">
                </li>
                <li class="slider__item">
                    <p>Building & animating the rain with box-shadows.</p>
                    <img src="../assets/images/oce-aan-en-uit/rain_code.png" alt="">
                </li>
                <li class="slider__item">
                    <p>Sketches of the ocean life.</p>
                    <img src="../assets/images/oce-aan-en-uit/sketch_2.jpg" alt="">
                </li>
                <li class="slider__item">
                    <p>Not allowed to use classes & id's -> had to change the colors of the different paths manually.</p>
                    <img src="../assets/images/oce-aan-en-uit/vis_2.png" alt="">
                </li>
            </ul>
        </div>
    </div>
</section>