---
title: "Space Duck"
layout: "layouts/base.njk"
permalink: /space-duck.html
---

<section class="project-detail | page-layout stack-m pt-2xl">
    <h1 class="project-detail__title | text-step-4">Space Duck</h1>
    <img class="project-detail__image" src="../assets/images/projects/space-duck.jpeg" alt="" style="--vt: space-duck">

    <div class="project-detail__info | stack-l py-l">
        <div class="project-detail__info-grid">
            <div class="stack-m">
                <p>Lorem ipsum dolor sit amet.</p>
            </div>

            <p class="role"><span class="text-step-1">Role:</span> <span>Concept</span> <span>Design</span> <span>Front-End Development</span></p>
        </div>

        <div class="cluster py-l" style="--cluster-gap: var(--space-m);">
            <a class="button button--secondary" target="_blank" href="https://github.com/evaboogaard/space-duck">Github Repo</a>
            <a class="button button--primary" target="_blank" href="https://evaboogaard.github.io/space-duck/">Final Result</a>
        </div>
    </div>

    <div class="project-detail__process page-layout stack-l">
        <div>
            <h2 class="text-step-3">Process</h2>
            <p>Starting the project off, I brainstormed a bit about the kind of character I wanted to build. The only logical choice was, of course, an astronaut duck.</p>    
        </div>

        <div>
            <h3 class="text-step-3 text-darkorange">First Sketches</h3>
            <p>I started sketching a few different versions of the duck, then went into digital sketching. I quickly figured out that I'd rather make the duck in CSS than doing some After Effects stuff, so I made a little breakdown sketch at the end of this.</p>   
        </div>
     
        <div class="slider | py-m my-xl">
            <ul class="slider__stage" role="list">
                <li class="slider__item">
                    <img src="../assets/images/space-duck/sketch-1.png" alt="">
                </li>
                <li class="slider__item">
                    <img src="../assets/images/space-duck/sketch-2.png" alt="">
                </li>
                <li class="slider__item">
                    <img src="../assets/images/space-duck/sketch-3.png" alt="">
                </li>
                <li class="slider__item">
                    <img src="../assets/images/space-duck/digital-1.png" alt="">
                </li>
                <li class="slider__item">
                    <img src="../assets/images/space-duck/digital-2.png" alt="">
                </li>
                <li class="slider__item">
                    <img src="../assets/images/space-duck/digital-3.png" alt="">
                </li>
                <li class="slider__item">
                    <img src="../assets/images/space-duck/rem-sketch.png" alt="">
                </li>
            </ul>
        </div>

        <h3 class="text-step-3 text-darkorange">Interaction Ideas</h3>
        <p>As there needed to be three interactive states within the project, I made a moodboard and some sketches for the ideas I could come up with. After this, I went straight into CSS and tinkered around a bit.</p>
        <div class="slider | py-m my-xl">
            <ul class="slider__stage" role="list">
                <li class="slider__item">
                    <p></p>
                    <img src="../assets/images/space-duck/moodboard.jpeg" alt="">
                </li>
                <li class="slider__item">
                    <p></p>
                    <img src="../assets/images/space-duck/interaction-1.jpeg" alt="">
                </li>
                <li class="slider__item">
                    <p></p>
                    <img src="../assets/images/space-duck/interaction-2.jpeg" alt="">
                </li>
                <li class="slider__item">
                    <p></p>
                    <img src="../assets/images/space-duck/storyboards.jpeg" alt="">
                </li>
                <li class="slider__item">
                    <p></p>
                    <img src="../assets/images/space-duck/moving-icons.jpeg" alt="">
                </li>
            </ul>
        </div>


    </div>
</section>