<footer>
  <div class="wrapper px-m py-xl auto-grid" style="--auto-grid-gap: var(--space-l); --auto-grid-gap-vertical: var(--space-xl);">
    <section class="stack-s">
      <h2>Contact</h2>
      <div class="stack-xs">
        <p>Want to get in touch?</p>
        <a class="button button--mail" href="mailto:evaboogaard@hotmail.com" target="_blank">Send me an e-mail!</a>
      </div>

      <div class="stack-m">
        <p><strong>Or follow me from a distance</strong></p>
        <ul class="cluster" role="list">
          <li>
            <a class="button" href="https://github.com/evaboogaard" target="_blank">
              {% icon icon="github", alt="", width="var(--space-l)" %}
              <span class="sr-only">Github</span>
            </a>
          </li>
          <li>
            <a class="button" href="https://www.linkedin.com/in/eva-boogaard-219791174/" target="_blank">
              {% icon icon="linkedin", alt="", width="var(--space-l)" %}
              <span class="sr-only">LinkedIn</span>
            </a>
          </li>
          <li>
            <a class="button" href="https://mastodon.social/@evaboogaard" target="_blank">
              {% icon icon="mastodon", alt="", width="var(--space-l)" %}
              <span class="sr-only">Mastodon</span>
            </a>
          </li>
        </ul>        
      </div>
    </section>

    <section>
      <h2>This Portfolio</h2>
      <p>Thanks for checking it out. This site was built with <a class="link" href="https://www.11ty.dev/">Eleventy</a>, using the boilerplate built by legends at <a class="link" href="https://9elements.com/">9elements</a>.</p>
    </section>
  </div>

  <div class="stars"></div>
</footer>