<header class="header page-layout">
  <div>
    <nav aria-label="Main">
      <ul class="cluster" role="list" style="--cluster-gap: 0;">
        {% for item in navigation.items %}
          <li>
            <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>
              {{ item.text }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>